<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/lessons.css">

    <title>Lessons</title>
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <div class="navbar navbar-expand-md">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/groups">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/professors">Professors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lessons">Lessons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/statistics">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/timetable">Timetable</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <hr>

    <div id="lessonsMainContent">
        <h3>Lessons</h3>
        <br>
        <div id="lessons">
            <table id="lessons-table">
                <tr>
                    <th class="table-cell">Id</th>
                    <th class="table-cell">Date</th>
                    <th class="table-cell">Lesson Number</th>
                    <th class="table-cell">Group Id</th>
                    <th class="table-cell">Professor Id</th>
                    <th class="table-cell">Building</th>
                    <th class="table-cell">Classroom</th>
                    <th class="table-cell">Update</th>
                    <th class="table-cell">Delete</th>
                    <th>
                        <button id="newBtn" type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalNewBtn">New
                        </button>
                    </th>
                </tr>
                <tr th:each="lesson : ${lessons}">
                    <td class="table-cell" th:text="${lesson.id}"></td>
                    <td class="table-cell" th:text="${lesson.date}"></td>
                    <td class="table-cell" th:text="${lesson.lessonNumber}"></td>
                    <td class="table-cell" th:text="${lesson.groupId}"></td>
                    <td class="table-cell" th:text="${lesson.professorId}"></td>
                    <td class="table-cell" th:text="${lesson.building}"></td>
                    <td class="table-cell" th:text="${lesson.classroom}"></td>
                    <td>
                        <img alt=":(" src="images/update.jpeg" data-toggle="modal" data-target="#modalUpdateBtn"
                             th:data-id="${lesson.id}" th:data-date="${lesson.date}"
                             th:data-lesson-number="${lesson.lessonNumber}" th:data-group-id="${lesson.groupId}"
                             th:data-professor-id="${lesson.professorId}" th:data-building="${lesson.building}"
                             th:data-classroom="${lesson.classroom}">
                    </td>
                    <td>
                        <form method="post" action="/lessons/remove">
                            <input type="text" name="id" th:value="${lesson.id}" hidden>
                            <input type="image" src="/images/delete.jpeg" alt="Submit">
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div class="modal" id="modalNewBtn">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">New Lesson</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method="post" action="/lessons/add">
                            <label>Lesson Date</label>
                            <br>
                            <input type="date" name="date">
                            <br>
                            <label>Lesson Number</label>
                            <br>
                            <input type="number" name="lessonNumber">
                            <br>
                            <label>Group</label>
                            <br>
                            <select id="select-group-add"></select>
                            <input id="group-id-form" type="number" name="groupId" hidden>
                            <br>
                            <label>Professor</label>
                            <br>
                            <select id="select-professor-add"></select>
                            <input id="professor-id-form" type="number" name="professorId" hidden>
                            <br>
                            <label>Building</label>
                            <br>
                            <input type="text" name="building">
                            <br>
                            <label>Classroom</label>
                            <br>
                            <input type="text" name="classroom">
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modalUpdateBtn">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Update Lesson</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method="post" action="/lessons/update">
                            <input id="id" type="text" name="id" hidden>
                            <label>Lesson Date</label>
                            <br>
                            <input id="date" type="date" name="date">
                            <br>
                            <label>Lesson Number</label>
                            <br>
                            <input id="lesson-number" type="number" name="lessonNumber">
                            <br>
                            <label>Group</label>
                            <br>
                            <select id="select-group-update"></select>
                            <input id="group-id-update" type="number" name="groupId" hidden>
                            <br>
                            <label>Professor</label>
                            <br>
                            <select id="select-professor-update"></select>
                            <input id="professor-id-update" type="number" name="professorId" hidden>
                            <br>
                            <label>Building</label>
                            <br>
                            <input id="building" type="text" name="building">
                            <br>
                            <label>Classroom</label>
                            <br>
                            <input id="classroom" type="text" name="classroom">
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">SOME INFORMATION</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident
                        voluptate
                        esse
                        quasi, veritatis totam voluptas nostrum.</p>
                </div>

                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">LINKS</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a href="https://github.com/mrle080693">GITHUB</a>
                            </p>
                        </li>
                    </ul>
                </div>

                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">CONTACTS</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                mrle080693@gmail.com
                            </p>
                        </li>
                        <li>
                            <p>
                                + 38 099 531 20 01
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">SOME INFORMATION</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident
                        voluptate
                        esse
                        quasi, veritatis totam voluptas nostrum.</p>
                </div>
                <hr class="clearfix w-100 d-md-none">

            </div>
            <div class="footer-copyright text-center py-3">?© 2020 Developed by:
                <a href="https://github.com/mrle080693"> Mr.Le </a>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/lessons.js"></script>
</html>
